/* Variables */

:root {
  --font-color: #0f0f0f;
  --light-font-color: #8d8d8d;
  --main-color: #646262;
  --second-color: #456be9;
  --red-color: rgb(170, 28, 28);
  --light-red-color: rgba(170, 28, 28, 0.3);
  --grey-color: #dfdede;
  --bg-color: #f1f1f1;
  --site-padding: 25px;
  --top-bar-height: 45px;
  --tabs-height: 40px;
}

/* Draggable */

.handle {
  color: var(--light-font-color);
  cursor: move;
}

.ghost {
  filter: brightness(0.86);
}

.ghost-childs > div {
  filter: brightness(0.86);
}

/* Main */

html {
  overflow: hidden;
}

body {
  color: var(--font-color);
  font-size: 16px;
  background-color: var(--bg-color);
  overflow: hidden;
}

input {
  background-color: var(--bg-color);
}

select {
  background-color: transparent;
  margin-bottom: 1em;
  font-size: inherit;
  padding: 10px;
  border: none;
  border: 1px solid var(--main-color);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

p {
  margin-bottom: 1em;
}

.light {
  color: var(--light-font-color);
}

#container {
  overflow: hidden;
  position: relative;
}

#top-bar {
  height: var(--top-bar-height);
  width: 100%;
  background-color: var(--grey-color);
  border-bottom: 2px solid var(--bg-color);
}

#top-bar > div {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

#top-bar .app-title {
  padding-left: 10px;
}

#content:not(.has-side-bar) {
  padding: 30px;
  overflow: scroll;
  position: relative;
}

#content.has-side-bar {
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  height: calc(100vh - var(--top-bar-height));
}

#content #inner {
  overflow-y: auto;
  position: relative;
}

#side-bar {
  background-color: var(--grey-color);
  height: calc(100vh - var(--top-bar-height));
  overflow-y: auto;
}

.loading {
  padding: 30px;
}

/* projects */

#project-nav {
}

#project-nav li {
  cursor: pointer;
  display: grid;
  /* grid-template-columns: 6fr 1fr; */
  grid-template-columns: 1fr;
  font-weight: bold;
  background-color: var(--grey-color);
  border-bottom: 2px solid var(--bg-color);
}

#project-nav li .inner {
  padding: 30px 30px 30px 10px;
  background-color: var(--grey-color);
}

#project-nav li .inner:hover {
  filter: brightness(0.96);
}

#project-nav li.active .inner {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.project {
  padding-top: var(--tabs-height);
}

.info {
  margin-bottom: 50px;
  padding: 30px;
}

.project-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--grey-color);
  height: var(--tabs-height);
  padding: 0px 40px 0px 40px;
}

.project-tabs ul li {
  display: inline-block;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  border-right: 3px solid var(--bg-color);
  background-color: var(--grey-color);
}

li.active .handle {
  color: rgba(255, 255, 255, 0.3);
}

.project-tabs ul li:hover {
  filter: brightness(0.96);
}

.project-tabs ul li.active {
  background-color: var(--main-color);
  color: white;
}

.view-switch {
  position: absolute;
  left: 0;
  top: var(--tabs-height);
  margin: 5px;
}

.view-switch i {
  margin-right: 0.5em;
}

.view-switch ul li {
  display: inline-block;
  margin-right: 3px;
  padding: 6px 12px 6px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
}

.view-switch ul li:hover {
  filter: brightness(0.97);
}

.view-switch ul li.active {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.project-title {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  border: none;
  margin-left: 10px;
}

.project-title:focus {
  outline: none;
  border: none;
}

.add-project {
  width: 100%;
  padding: 30px;
  padding-left: 42px;
  border: none;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  filter: brightness(0.76);
}

.add-project i,
#top-bar i {
  margin-right: 1em;
}

#project-nav li .inner i {
  vertical-align: 1px;
  margin-right: 1em;
}

.add-project:hover {
  filter: brightness(0.72);
}

.delete-project {
  padding: 10px;
  border: none;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  height: 100%;
  width: 100%;
  display: none;
}

.delete-project i {
}

.delete-project:hover {
  filter: brightness(0.86);
}

.no-projects {
  opacity: 0.55;
  font-weight: bold;
  font-size: 1.6em;
  margin-left: 10px;
}

/* Editor */

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
}

.ql-editor {
  font-size: 16px !important;
}

.ql-picker-options {
  box-shadow: none !important;
  border: none !important;
  background-color: var(--grey-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--second-color) !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--second-color) !important;
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: var(--second-color) !important;
}

/* Calendar */

.calendar.times {
  height: calc(100vh - var(--tabs-height) - var(--top-bar-height));
}

.vuecal__event {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

.vuecal__cell--current,
.vuecal__cell--today {
  background-color: var(--bg-color) !important;
  filter: brightness(0.97);
}

.vuecal__cell--selected {
  background-color: transparent !important;
}

.vuecal__now-line {
  color: var(--second-color) !important;
}

.calendar-list-view {
  padding-top: 40px;
}

.calendar-list-view ul {
  width: 100%;
  padding: 5px;
}

.calendar-list-view .time {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.6fr 2fr 1fr 1fr 1fr 1.4fr;
  grid-gap: 3px;
  justify-items: stretch;
  position: relative;
}

.calendar-list-view .time .delete-time {
  position: absolute;
  right: 0;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  height: 100%;
}

.calendar-list-view .time .delete-time :hover {
  filter: brightness(0.86);
}

.calendar-list-view .time:not(.headline) > div {
  background-color: var(--grey-color);
  padding: 15px;
}

.calendar-list-view .time.headline > div {
  background-color: none;
  padding: 3px 15px 3px 15px;
}

.calendar-list-view .time input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100%;
}

.calendar-list-view .time input:focus {
  outline: none;
  border: none;
}

.calendar-list-view .time .time-title {
  font-weight: bold;
}

.calendar-list-view .time .time-description {
}

.calendar-list-view .time .time-todo {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-start-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-start-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-duration {
}

.vc-popover-content-wrapper {
  margin-left: -10px !important;
}

.add-time {
  position: absolute;
  left: 172px;
  top: var(--tabs-height);
  margin: 5px;
  display: inline-block;
  margin-right: 3px;
  padding: 9px 12px 8.5px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
  border: none;
  font-size: inherit;
}

.add-time i {
  margin-right: 0.5em;
}

.add-time:hover {
  filter: brightness(0.97);
}
/* ToDos */

.todos {
  padding-top: 40px;
}

.todos .add-todo {
  position: absolute;
  left: 0;
  top: var(--tabs-height);
  margin: 5px;
  display: inline-block;
  margin-right: 3px;
  padding: 9px 12px 8.5px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
  border: none;
  font-size: inherit;
}

.todos .add-todo i {
  margin-right: 0.5em;
}

.todos .add-todo:hover {
  filter: brightness(0.97);
}

.todos ul {
  width: 100%;
  padding: 5px;
}

.todos .todo {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 80px 2.6fr 0.8fr 3fr 1fr;
  grid-gap: 3px;
  justify-items: stretch;
  position: relative;
}

.todos .todo.done {
  opacity: 0.4;
}

.todos .todo .delete-todo {
  position: absolute;
  right: 0;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  z-index: 1;
  height: 100%;
}

.todos .todo .delete-todo :hover {
  filter: brightness(0.86);
}

.todos .todo:not(.headline) > div {
  background-color: var(--grey-color);
  padding: 15px;
}

.todos .todo.headline > div {
  background-color: none;
  padding: 3px 15px 3px 15px;
}

.todos .todo input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100%;
}

.todos .todo input:focus {
  outline: none;
  border: none;
}

.todos .todo .todo-title {
  font-weight: bold;
}

.todos .todo .todo-description {
}

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.todos .todo .checkbox {
  margin: auto;
}

.todo .handle {
  vertical-align: 3.8px;
  margin-right: 2px;
}

.todos .todo .todo-status {
  color: var(--light-font-color);
}

.todos .todo .todo-category {
  color: var(--light-font-color);
}

.todos .todo .todo-done {
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-font-color);
  content: "";
  margin-right: 5px;
  border-radius: 0;
  display: inline-block;
  margin: auto;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::after {
  content: "✓";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.todos .todo .checkbox input[type="checkbox"]:checked + label::after {
  bottom: 4px;
}

/* Project Settings */

.settings {
  padding: 30px;
}

.big-button {
  padding: 12px;
  border: none;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  filter: brightness(0.85);
}

.big-button:hover {
  filter: brightness(0.75);
}

.safe-delete-input,
.form-input {
  padding: 9px;
  font-size: inherit;
  border: 1px solid var(--main-color);
  margin-bottom: 1em;
}

.delete-project-button {
  padding: 10px;
  border: none;
  background-color: var(--light-red-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
}

.delete-project-button:hover {
  background-color: var(--red-color);
  color: var(--bg-color);
}

/* Settings */

.settings-button {
  float: right;
  background-color: var(--grey-color);
  border: none;
  border-left: 2px solid var(--bg-color);
  padding: 10px;
  height: 100%;
  text-align: center;
  font-size: 0.85em;
  cursor: pointer;
}

.settings-button:hover {
  filter: brightness(0.97);
}

#settings {
  padding: 30px;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  position: absolute;
  top: var(--top-bar-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
