/* Variables */

:root {
  --font-color: #0f0f0f;
  --light-font-color: #8d8d8d;
  --main-color: #868686;
  --second-color: #456be9;
  --grey-color: #dfdede;
  --bg-color: #f1f1f1;
  --site-padding: 25px;
  --top-bar-height: 45px;
  --tabs-height: 40px;
}

/* Main */

html {
  overflow: hidden;
}

body {
  color: var(--font-color);
  font-size: 16px;
  background-color: var(--bg-color);
  overflow: hidden;
}

input {
  background-color: var(--bg-color);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.light {
  color: var(--light-font-color);
}

#container {
  overflow: hidden;
}

#top-bar {
  height: var(--top-bar-height);
  width: 100%;
  background-color: var(--grey-color);
  padding: 10px 30px 10px 30px;
  border-bottom: 2px solid var(--bg-color);
}

#content:not(.has-side-bar) {
  padding: 30px;
  overflow: scroll;
  position: relative;
}

#content.has-side-bar {
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  height: calc(100vh - var(--top-bar-height));
}

#content #inner {
  overflow-y: auto;
  position: relative;
}

#side-bar {
  background-color: var(--grey-color);
  height: calc(100vh - var(--top-bar-height));
  overflow-y: auto;
}

.loading {
  padding: 30px;
}

/* projects */

#project-nav {
}

#project-nav li {
  cursor: pointer;
  display: grid;
  grid-template-columns: 6fr 1fr;
  font-weight: bold;
  background-color: var(--grey-color);
  margin-bottom: 2px;
}

#project-nav li .inner {
  padding: 30px 30px 30px 10px;
  background-color: var(--grey-color);
}

#project-nav li .inner:hover {
  filter: brightness(0.96);
}

#project-nav li.active .inner {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.project {
  padding-top: var(--tabs-height);
}

.info {
  margin-bottom: 50px;
  padding: 30px;
}

.project-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--grey-color);
  height: var(--tabs-height);
  padding: 0px 40px 0px 40px;
}

.project-tabs ul li {
  display: inline-block;
  padding: 8px 15px 8px 15px;
  cursor: pointer;
  border-right: 3px solid var(--bg-color);
  background-color: var(--grey-color);
}

li.active .handle {
  color: rgba(255, 255, 255, 0.3);
}

.handle {
  color: var(--light-font-color);
  cursor: move;
}

.project-tabs ul li:hover {
  filter: brightness(0.96);
}

.project-tabs ul li.active {
  background-color: var(--main-color);
  color: white;
}

.view-switch {
  position: absolute;
  left: 0;
  top: var(--tabs-height);
  margin: 5px;
}

.view-switch ul li {
  display: inline-block;
  margin-right: 3px;
  padding: 6px 12px 6px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
}

.view-switch ul li:hover {
  filter: brightness(0.97);
}

.view-switch ul li.active {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.project-title {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  border: none;
  margin-left: 10px;
}

.project-title:focus {
  outline: none;
  border: none;
}

.add-project {
  width: 100%;
  padding: 30px;
  border: none;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  filter: brightness(0.76);
}

.add-project i,
#top-bar i {
  margin-right: 1em;
}

#project-nav li .inner i {
  vertical-align: 1px;
  margin-right: 1em;
}

.add-project:hover {
  filter: brightness(0.72);
}

.delete-project {
  padding: 10px;
  border: none;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

.delete-project i {
}

.delete-project:hover {
  filter: brightness(0.86);
}

.no-projects {
  opacity: 0.55;
  font-weight: bold;
  font-size: 1.6em;
  margin-left: 10px;
}

/* Editor */

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
}

.ql-editor {
  font-size: 16px !important;
}

.ql-picker-options {
  box-shadow: none !important;
  border: none !important;
  background-color: var(--grey-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--second-color) !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--second-color) !important;
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: var(--second-color) !important;
}

/* Calendar */

.calendar.times {
  height: calc(100vh - var(--tabs-height) - var(--top-bar-height));
}

.vuecal__event {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

.vuecal__cell--current,
.vuecal__cell--today {
  background-color: var(--bg-color) !important;
  filter: brightness(0.97);
}

.vuecal__cell--selected {
  background-color: transparent !important;
}

.vuecal__now-line {
  color: var(--second-color) !important;
}

.calendar-list-view {
  padding-top: 40px;
}

.calendar-list-view ul {
  width: 100%;
  padding: 5px;
}

.calendar-list-view .time {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr 2fr;
  grid-gap: 3px;
  justify-items: stretch;
  position: relative;
}

.calendar-list-view .time .delete-time {
  position: absolute;
  right: 0;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
}

.calendar-list-view .time .delete-time :hover {
  filter: brightness(0.86);
}

.calendar-list-view .time:not(.headline) > div {
  background-color: var(--grey-color);
  padding: 15px;
}

.calendar-list-view .time.headline > div {
  background-color: none;
  padding: 3px 15px 3px 15px;
}

.calendar-list-view .time input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100%;
}

.calendar-list-view .time input:focus {
  outline: none;
  border: none;
}

.calendar-list-view .time .time-title {
  font-weight: bold;
}

.calendar-list-view .time .time-description {
}

.calendar-list-view .time .time-start-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-start-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-duration {
}
