/* Variables */

:root {
  --font-color: #0f0f0f;
  --light-font-color: #8d8d8d;
  --main-color: #cecdcd;
  --second-color: #1565c0;
  --red-color: #d50000;
  --light-red-color: rgba(170, 28, 28, 0.3);
  --grey-color: #f6f6f6;
  --dark-grey-color: #eceaea;
  --bg-color: #ffffff;
  --site-padding: 25px;
  --top-bar-height: 45px;
  --tabs-height: 40px;

  --project-color-red: rgb(170, 28, 28);
  --project-color-blue: rgb(28, 73, 170);
  --project-color-green: rgb(10, 141, 10);
  --project-color-yellow: rgb(241, 226, 14);
  --project-color-orange: rgb(247, 109, 18);
}

/* Draggable */

.handle {
  color: var(--light-font-color);
  cursor: move;
  opacity: 0;
}

li:hover .handle {
  opacity: 1;
}

.ghost {
  filter: brightness(0.86);
}

.ghost-childs > div {
  filter: brightness(0.86);
}

/* Main */

html {
  overflow: hidden;
}

body {
  color: var(--font-color);
  font-size: 16px;
  background-color: var(--bg-color);
  overflow: hidden;
  -webkit-app-region: drag;
}

button.button {
  border: none;
  border-radius: 0;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  filter: brightness(0.85);
  border-radius: 4px;
}

button.button.block {
  display: block;
}

button.button:hover {
  filter: brightness(0.75);
}

button.button a {
  line-height: 1;
  color: inherit;
}

input {
  background-color: var(--bg-color);
  border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
  border: none;
  border-radius: 0;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  filter: brightness(0.85);
  border-radius: 4px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  filter: brightness(0.75);
}

button.button.color,
input[type="submit"].color,
input[type="button"].color {
  background-color: var(--second-color);
  color: var(--bg-color);
  filter: brightness(1);
}

button.button.color:hover,
input[type="submit"].color:hover,
input[type="button"].color:hover {
  filter: brightness(0.9);
}

select {
  background-color: transparent;
  margin-bottom: 1em;
  font-size: inherit;
  padding: 10px;
  border: none;
  border: 1px solid var(--main-color);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.4em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

p {
  margin-bottom: 1em;
}

.light {
  color: var(--light-font-color);
}

#container {
  overflow: hidden;
  position: relative;
}

#top-bar {
  height: var(--top-bar-height);
  width: 100%;
  background-color: var(--main-color);
  font-size: 0.9em;
  position: relative;
  z-index: 20;
}

#top-bar > div:not(#user-settings) {
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
}

#top-bar .app-title {
  padding-left: 10px;
  padding-right: 12px;
  cursor: pointer;
  background-color: var(--main-color);
}

#top-bar .app-title:hover {
  filter: brightness(0.97);
}

#top-bar > * {
  user-select: none;
}

#user-settings {
  padding-top: 10px;
  position: absolute;
  top: calc(var(--top-bar-height) + 10px);
  left: 10px;
  z-index: 20;
  background-color: var(--dark-grey-color);
  overflow: hidden;
  border-radius: 4px;
}

#user-settings button {
  vertical-align: -1px;
}

#user-settings > *:not(ul) {
  padding-left: 10px;
  padding-right: 10px;
}

#user-settings ul {
}

#user-settings ul li {
  cursor: pointer;
  width: 100%;
  padding: 8px 10px 8px 10px;
  background-color: var(--dark-grey-color);
  border-top: 1px solid var(--main-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
}

#user-settings .invite {
  user-select: text;
}

#user-settings ul li:hover {
  filter: brightness(0.97);
}

#user-settings ul li.active {
  background-color: var(--main-color);
}

#user-settings ul li.private {
  color: var(--light-font-color);
}

.table-head {
  color: var(--light-font-color);
  font-size: 0.8em;
}

.table-head:hover {
  color: var(--light-font-color) !important;
  background-color: inherit !important;
  cursor: inherit !important;
}

.copy-button {
  float: right;
  color: var(--light-font-color);
}

.copy-button i {
  margin-right: 0 !important;
  margin-left: 0.5em;
}

.copy-button:hover {
  color: var(--font-color);
}

.add-workspace {
  border-top: 1px solid var(--main-color);
  padding-top: 15px;
}

.profile-color {
  height: 25px;
  width: 25px;
  background-color: var(--second-color);
  display: inline-block;
  vertical-align: 2px;
  margin-right: 0.3em;
  border-radius: 100%;
  text-align: center;
  font-size: 0.8em;
  padding: 3px;
  color: var(--bg-color);
  text-transform: uppercase;
}

.profile-color.other {
  background-color: var(--red-color);
}

#content:not(.has-side-bar) {
  padding: 30px;
  overflow: scroll;
  position: relative;
}

#content.has-side-bar {
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  height: calc(100vh - var(--top-bar-height));
}

#content.has-side-bar.hidden-side-bar {
  grid-template-columns: 50px 5fr;
}

#content #inner {
  overflow-y: auto;
  position: relative;
}

#side-bar {
  background-color: var(--grey-color);
  height: calc(100vh - var(--top-bar-height));
  overflow-y: auto;
  position: relative;
}

#side-bar.hidden {
}

.side-bar-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 36px;
  font-size: 1.2em;
  color: var(--light-font-color);
  cursor: pointer;
  height: 2em;
  width: 2em;
  text-align: center;
}

#side-bar h2 {
  margin-top: 30px;
  margin-left: 42px;
  margin-bottom: 20px;
}

.loading {
  padding: 30px;
}

section {
}

section.full-height {
  min-height: 100vh;
  position: relative;
}

section.color {
  background-color: var(--main-color);
}

section.grey {
  background-color: #dddddd;
}

/* Login / Register */

.center-box {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  width: 500px;
  margin: auto;
  padding: 30px;
  text-align: center;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.center-box h1,
.center-box h2,
.center-box h3,
.center-box form {
  text-align: left;
}

.center-box input:not([type="submit"]) {
  width: 100%;
  font-size: 1em;
  padding: 9px;
  margin-top: 8px;
  font-size: inherit;
  border: 1px solid var(--main-color);
  margin-bottom: 1em;
}

.center-box input[type="submit"] {
  margin-top: 8px;
  width: 100%;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--light-font-color);
  border-radius: 4px;
  font-size: 1em;
  padding: 4px;
  font-weight: normal;
}

.login-button span {
  top: -6px;
  left: 10px;
  position: relative;
}

.login-button img {
  width: 22px;
  background: white;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: 3px;
}

.login-button:hover {
  filter: brightness(0.9);
}

.invalid-feedback {
  background-color: var(--light-red-color);
  padding: 10px;
  margin-bottom: 10px;
}

/* Projects */

#project-nav {
}

#project-nav li {
  cursor: pointer;
  display: grid;
  /* grid-template-columns: 6fr 1fr; */
  grid-template-columns: 1fr;

  background-color: var(--grey-color);
}

#project-nav li .inner {
  padding: 15px 15px 15px 10px;
  background-color: var(--grey-color);
}

#project-nav li .inner:hover {
  filter: brightness(0.96);
}

#project-nav li.active .inner {
  background-color: var(--main-color);
}

.project {
  padding-top: var(--tabs-height);
}

.info {
  margin-bottom: 50px;
  padding: 30px;
}

.project-tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--grey-color);
  height: var(--tabs-height);
  padding: 0px;
}

.project-tabs ul li {
  display: inline-block;
  padding: 8px 35px 8px 25px;
  cursor: pointer;
  background-color: var(--grey-color);
}

li:active .handle {
  color: rgba(255, 255, 255, 0.3);
}

.project-tabs ul li:not(.active):hover {
  filter: brightness(0.96);
}

.project-tabs ul li.active {
  background-color: var(--bg-color);
}

.project-tabs ul li:not(:first-of-type).active {
}

.project-tabs ul li.active .handle {
  color: var(--light-font-color);
}

.project-color {
  height: 1.1em;
  width: 1.1em;
  border: 1px solid var(--bg-color);
  background-color: var(--red-color);
  display: inline-block;
  vertical-align: -2px;
  margin-right: 0.8em;
  margin-left: -0.3em;
  border-radius: 100%;
}

.view-switch {
  position: absolute;
  left: 0;
  top: var(--tabs-height);
  margin: 5px;
}

.view-switch i {
  font-size: 1.4em;
}

.view-switch ul li {
  display: inline-block;
  margin-right: 3px;
  padding: 4px 6px 4px 6px;
  cursor: pointer;
  color: var(--light-font-color);
}

.view-switch ul li:not(:last-of-type) {
  border-right: 2px solid var(--grey-color);
}

.view-switch ul li:hover {
  filter: brightness(0.97);
}

.view-switch ul li.active {
  color: var(--second-color);
}

.project-title {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: bold;
  border: none;
  margin-left: 10px;
}

.project-title:focus {
  outline: none;
  border: none;
}

.add-project {
  width: 100%;
  padding: 15px;
  padding-left: 42px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  background-color: var(--grey-color);
}

.add-project i,
#top-bar i {
  margin-right: 1em;
}

#project-nav li .inner i {
  vertical-align: 1px;
  margin-right: 1em;
}

.add-project:hover {
  filter: brightness(0.96);
}

.delete-project {
  padding: 10px;
  border: none;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  height: 100%;
  width: 100%;
  display: none;
}

.delete-project i {
}

.delete-project:hover {
  filter: brightness(0.86);
}

.no-projects {
  opacity: 0.55;
  font-weight: bold;
  font-size: 1.6em;
  margin-left: 10px;
}

/* Editor */

.ql-toolbar {
  border: none !important;
}

.ql-container {
  border: none !important;
}

.ql-editor {
  font-size: 16px !important;
}

.ql-picker-options {
  box-shadow: none !important;
  border: none !important;
  background-color: var(--grey-color) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--second-color) !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--second-color) !important;
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: var(--second-color) !important;
}

/* Calendar */

.calendar.times {
  height: calc(100vh - var(--tabs-height) - var(--top-bar-height));
}

.vuecal {
  box-shadow: none !important;
}

.vuecal__menu {
  background-color: var(--bg-color) !important;
}

.vuecal__event {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

.vuecal__cell--current,
.vuecal__cell--today {
  background-color: var(--bg-color) !important;
  filter: brightness(0.97);
}

.vuecal__cell--selected {
  background-color: transparent !important;
}

.vuecal__now-line {
  color: var(--second-color) !important;
}

.calendar-list-view {
  padding-top: 40px;
}

.calendar-list-view ul {
  width: 100%;
  padding: 5px;
}

.calendar-list-view .time {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.6fr 2fr 1fr 1fr 1fr 1.4fr;
  grid-gap: 3px;
  justify-items: stretch;
  position: relative;
}

.calendar-list-view .time .delete-time {
  position: absolute;
  right: 0;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  height: 100%;
}

.calendar-list-view .time .delete-time :hover {
  filter: brightness(0.86);
}

.calendar-list-view .time:not(.headline) > div {
  background-color: var(--grey-color);
  padding: 15px;
}

.calendar-list-view .time.headline > div {
  background-color: none;
  padding: 3px 15px 3px 15px;
}

.calendar-list-view .time input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100%;
}

.calendar-list-view .time input:focus {
  outline: none;
  border: none;
}

.calendar-list-view .time .time-title input {
  display: inline-block;
  width: 85%;
}

.calendar-list-view .time .time-description {
}

.calendar-list-view .time .time-todo {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-start-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-start-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-date {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-end-time {
  color: var(--light-font-color);
}

.calendar-list-view .time .time-duration {
}

.calendar-list-view .time.new > div {
  background-color: transparent;
}

.calendar-list-view .time.new > div input {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 10px;
  border-radius: 0;
}

.create-time {
  background-color: transparent;
  border: none;
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.time.new .new-title {
  width: 70%;
  vertical-align: 5px;
}

.create-time:hover {
  background-color: var(--grey-color);
}

.vc-popover-content-wrapper {
  margin-left: -10px !important;
}

.add-time {
  position: absolute;
  left: 80px;
  top: var(--tabs-height);
  margin: 5px;
  display: inline-block;
  margin-right: 3px;
  padding: 9px 12px 8.5px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
  border: none;
  font-size: inherit;
  border-radius: 4px;
}

.add-time i {
  margin-right: 0.5em;
}

.add-time:hover {
  filter: brightness(0.97);
}
/* ToDos */

.todos {
  padding-top: 40px;
}

.todos .add-todo {
  position: absolute;
  left: 0;
  top: var(--tabs-height);
  margin: 5px;
  display: inline-block;
  margin-right: 3px;
  padding: 9px 12px 8.5px 12px;
  background-color: var(--grey-color);
  cursor: pointer;
  border: none;
  font-size: inherit;
  border-radius: 4px;
}

.todos .add-todo i {
  margin-right: 0.5em;
}

.todos .add-todo:hover {
  filter: brightness(0.97);
}

.todos ul {
  width: 100%;
  padding: 5px;
}

.todos .todo {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 80px 2.6fr 0.8fr 3fr 1fr;
  grid-gap: 3px;
  justify-items: stretch;
  position: relative;
}

.todos .todo.done {
  opacity: 0.4;
}

.todos .todo .delete-todo {
  position: absolute;
  right: 0;
  background-color: var(--grey-color);
  filter: brightness(0.9);
  cursor: pointer;
  z-index: 1;
  height: 100%;
}

.todos .todo .delete-todo :hover {
  filter: brightness(0.86);
}

.todos .todo:not(.headline) > div {
  background-color: var(--grey-color);
  padding: 15px;
}

.todos .todo.headline > div {
  background-color: none;
  padding: 3px 15px 3px 15px;
}

.todos .todo.new > div {
  background-color: transparent;
}

.todos .todo.new > div input {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 10px;
  border-radius: 0;
}

.create-todo {
  background-color: transparent;
  border: none;
  font-size: 1.6em;
  float: right;
  margin: 0;
  padding: 0;
  margin-right: 1.5px;
  border-radius: 100%;
  cursor: pointer;
}

.create-todo:hover {
  background-color: var(--grey-color);
}

.todos .todo input {
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100%;
}

.todos .todo input:focus {
  outline: none;
  border: none;
}

.todos .todo .todo-title input {
  display: inline-block;
  width: 85%;
}

.todos .todo .todo-description {
}

.checkbox-label {
  vertical-align: 5px;
  margin-right: 0.2em;
}

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.todos .todo .checkbox {
  margin: auto;
}

.todo .handle {
  vertical-align: 3.8px;
  margin-right: 2px;
}

.todos .todo .todo-status {
  color: var(--light-font-color);
}

.todos .todo .todo-category {
  color: var(--light-font-color);
}

.todos .todo .todo-done {
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-font-color);
  content: "";
  margin-right: 5px;
  border-radius: 0;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label::after {
  content: "✓";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.todos .todo .checkbox input[type="checkbox"]:checked + label::after {
  bottom: 4px;
}

/* Project Settings */

.settings {
  padding: 30px;
}

.big-button {
  padding: 12px;
  border: none;
  background-color: var(--grey-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  filter: brightness(0.85);
  border-radius: 4px;
}

.big-button:hover {
  filter: brightness(0.75);
}

.safe-delete-input,
.form-input {
  padding: 9px;
  font-size: inherit;
  border: 1px solid var(--main-color);
  margin-bottom: 1em;
}

.delete-project-button {
  padding: 10px;
  border: none;
  background-color: var(--light-red-color);
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  border-radius: 4px;
}

.delete-project-button:hover {
  background-color: var(--red-color);
  color: var(--bg-color);
}

#settings .checkbox input[type="checkbox"]:checked + label::after {
  bottom: 4px;
  left: 2.5px;
}

/* Settings */

.settings-button {
  float: right;
  border: none;
  padding: 10px;
  padding-left: 30px;
  height: 100%;
  text-align: center;
  font-size: 0.85em;
  cursor: pointer;
  background-color: var(--main-color);
}

.settings-button i {
  font-size: 2em;
}

.settings-button:hover {
  filter: brightness(0.97);
}

#settings {
  padding: 30px;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  position: absolute;
  top: var(--top-bar-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
}

/* StopWatch */

.stop-watch {
  position: fixed;
  bottom: 38px;
  right: 30px;
  z-index: 11;
}

.stop-watch .watch-button {
  border-radius: 100%;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-size: 24px;
  text-align: center;
  border: none;
  height: 65px;
  width: 65px;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
}

.stop-watch .elapsed-time {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  width: 80px;
}

.stop-watch .watch-button.started {
  padding-right: 6px;
  background-color: var(--second-color);
}

.stop-watch .watch-button:not(.started) {
  padding-left: 6px;
}

.stop-watch .start-button:hover {
  filter: brightness(0.9);
}

.stop-watch .pause-button {
  position: absolute;
  bottom: -15px;
  right: -15px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: var(--main-color);
  color: var(--bg-color);
  cursor: pointer;
}

/* Loader */

.loading-page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  border: 4px solid var(--second-color);
  border-radius: 50%;
  border-top-color: var(--main-color);
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.settings-button.sync i.is-loading {
  animation: spin 0.4s ease-in-out infinite;
}
